/* General */
@font-face {
    font-family: 'PinyonScript';
    src: url('../fonts/PinyonScript-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'EBGaramond';
    src: url('../fonts/EBGaramond-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'EBGaramond', serif;
    background-color: #f4f4f4;
    color: #333;
    width: 100%;
    overflow-x: hidden; /* Evitar el scroll horizontal */
}

/* Simulación de páginas tipo PDF */
.page {
    background: white;
    padding: 5vw; /* Usa un porcentaje para hacer que el padding sea relativo al tamaño de la pantalla */
    width: 90%;  /* 90% del ancho de la pantalla */
    max-width: 100%; /* No puede exceder el 100% */
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2vh auto; /* Margen vertical usando vh */
}

/* Diferentes fondos para cada página */
.page:nth-child(2) {
    background-color: #b11226; /* Color vino */
    color: white;
}

.page:nth-child(3) {
    background-color: #fef8e4; /* Color beige */
    color: #333;
}

/* Títulos */
h1 {
    font-family: 'PinyonScript', cursive;
    text-align: center;
    font-size: 6vw; /* Usamos unidades relativas */
    margin: 2vh 0;
}

h2 {
    font-family: 'EBGaramond', serif;
    text-align: center;
    margin: 2vh 0;
    font-size: 3vw; /* Ajuste el tamaño relativo de los subtítulos */
}

/* Galería de imágenes */
img {
    width: 100%; /* Las imágenes ocuparán todo el ancho disponible */
    max-width: 100%; /* Evita que se excedan */
    height: auto; /* Mantiene las proporciones */
    display: block;
    margin: 2vh auto;
}

/* Reloj */
#countdown {
    text-align: center;
    font-size: 4vw; /* Relativo al ancho de la pantalla */
    margin: 2vh 0;
}

/* Eliminar espacios entre páginas */
body, html {
    scroll-behavior: smooth;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}
