/* General */
@font-face {
    font-family: 'PinyonScript';
    src: url('../fonts/PinyonScript-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'EBGaramond';
    src: url('../fonts/EBGaramond-Regular.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'EBGaramond', serif;
    background-color: #f4f4f4;
    /*color: #333; */
    color:black;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
    box-sizing: border-box;
}

/* Contenedor para las páginas */
.pages-container {
    display: flex;                /* Cambiado para usar flexbox */
    flex-direction: column;       /* Mantén las páginas en una columna */
    justify-content: flex-start;  /* Empuja las páginas hacia arriba */
    align-items: center;          /* Centra las páginas horizontalmente */
    width: 100%;                  /* Toma todo el ancho disponible */
    max-width: 1200px;            /* Limita el ancho máximo para pantallas grandes */
    margin: 0 auto;               /* Centra el contenedor horizontalmente */
    padding: 0;
    box-sizing: border-box;
}

/* Páginas individuales */
.page {
    background: white;
    padding: 5em 5em;  /* Proporcional al tamaño de la pantalla */
    width: 90vw;   /* Proporcional al tamaño de la pantalla */
    max-width: 800px; /* Limita el ancho máximo de las páginas */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0; /* Elimina el margen entre las páginas */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Diferentes fondos para cada página */
.page:nth-child(2) {
    background-color: #641316; /* Color vino */
    color: white;
}

.page:nth-child(3) {
    background-color: #fef8e4; /* Color beige */
    color: #333;
}



/* Títulos */
h1 {
    color: #641316;
    font-weight: normal;  /* Asegúrate de que el peso sea normal */
    font-family: 'PinyonScript', cursive;
    text-align: center;
    font-size: 7vw;  /* Tamaño proporcional */
    margin: 2vh 0;
}

h2 {
    font-family: 'EBGaramond', serif;
    font-weight: normal;  /* Asegúrate de que el peso sea normal */
    text-align: center;
    font-size: 3vw;  /* Tamaño proporcional */
    margin: 2vh 0;
}

/* Estilo para los párrafos */
p {
    font-family: 'EBGaramond', serif;
    font-weight: normal;
    text-align: center;
    margin: 2vh 1vw;
}

/* Galería de imágenes */
img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 10px auto;
}

/* Reloj */
#countdown {
    text-align: center;
    font-size: 2vw;  /* Tamaño proporcional */
    margin: 2vh 0;
}



.imagen-fecha {
    display: block;           /* Asegura que la imagen se muestre como bloque */
    margin: 20px auto;        /* Centra la imagen horizontalmente */
    width: 14em;              /* Mantiene la relación de aspecto */
    height: auto;              /* La altura de la imagen será 3 veces el alto del texto */
}

.imagen-logo {
    display: block;           /* Asegura que la imagen se muestre como bloque */
    margin: 20px auto;        /* Centra la imagen horizontalmente */
    width: auto;              /* Mantiene la relación de aspecto */
    height: 5em;              /* La altura de la imagen será 3 veces el alto del texto */
}

.imagen-iconos {
    display: block;           /* Asegura que la imagen se muestre como bloque */
    margin: 20px auto;        /* Centra la imagen horizontalmente */
    width: auto;              /* Mantiene la relación de aspecto */
    height: 5em;              /* La altura de la imagen será 3 veces el alto del texto */
}

.imagen-itinerario {
    display: block;           /* Asegura que la imagen se muestre como bloque */
    margin: 20px auto;        /* Centra la imagen horizontalmente */
    width: 25em;              /* Mantiene la relación de aspecto */
    height: auto;              /* La altura de la imagen será 3 veces el alto del texto */
}

/* Página con imagen de fondo */
.background-page {
    position: relative;
    width: 100%;
    height: 150vw; /* Asegura que la página ocupe toda la altura de la ventana */
    background-image: url('../images/A&A-5.jpg'); /* Ruta de tu imagen */
    background-size: cover;  /* Mantiene la proporción de la imagen */
    background-position: center;  /* Centra la imagen */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor para el texto dentro de la imagen */
.text-overlay {
    top: 4em; /* Ajusta este valor para controlar la distancia desde el borde superior */
    position: absolute;
    text-align: center;
    color: white;  /* Cambia el color del texto según tu imagen */
    font-family: 'EBGaramond', serif;
    padding: 20px;
    z-index: 1;  /* Asegura que el texto esté por encima de la imagen */
}

.text-overlay h2 {
    font-family: 'PinyonScript', cursive;
    font-size: 3vw;  /* Ajusta el tamaño del texto dependiendo de la ventana */
}

.text-overlay p {
    font-size: 2vw;
}



/* Estilo para el botón de ubicación */
.btn-ubicacion {
    display: inline-block;
    background-color: #641316; /* Color vino */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'EBGaramond', serif;
    font-size: 1.2vw;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    border: 2px solid white; /* Agrega el borde blanco */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Transición para el fondo y el borde */
}

/* Centrar el botón dentro de su contenedor */
.page section {
    text-align: center; /* Centra el contenido dentro de la sección */
}

/* Efecto hover para cambiar el color del fondo y borde */
.btn-ubicacion:hover {
    background-color: #a8383a; /* Color vino más claro al pasar el mouse */
    border-color: #fff; /* Asegura que el borde se mantenga blanco al hacer hover */
}


/* Media Queries para dispositivos pequeños */
@media (max-width: 768px) {
    .page {
        padding: 5em 5em; /* Aumenta el padding en pantallas pequeñas */
        margin: 0; /* Elimina el margen entre las páginas */
    }

    h1 {
        font-size: 10vw; /* Ajusta el tamaño del título */
        font-weight: normal;  /* Asegúrate de que el peso sea normal */
    }

    h2 {
        font-size: 5vw; /* Ajusta el tamaño del subtítulo */
        font-weight: normal;  /* Asegúrate de que el peso sea normal */
    }

    p {
        text-align: center;
        padding: 0 1em;
    }
    

    #countdown {
        font-size: 3.8vw;
    }

    .btn-ubicacion{
        font-size: 4vw;
    }

    .text-overlay {
        top: 1em; /* Ajusta este valor para controlar la distancia desde el borde superior */
    }

    .text-overlay p {
        font-size: 2.7vw;
    }
}